# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/.vs/cmake.db
build/.vs/MaxWordle/v16/.suo
build/.vs/MaxWordle/v16/Browse.VC.db
build/.vs/MaxWordle/v16/Browse.VC.db-shm
build/.vs/MaxWordle/v16/Browse.VC.db-wal
build/.vs/MaxWordle/v16/Browse.VC.opendb
build/.vs/MaxWordle/v16/Solution.VC.db
build/.vs/MaxWordle/v16/ipch/AutoPCH/202df60f310a2dcf/WORDLE.ipch
build/.vs/MaxWordle/v16/ipch/AutoPCH/26d11bd5471b4723/IMGUI_IMPL_OPENGL3.ipch
build/.vs/MaxWordle/v16/ipch/AutoPCH/736fc88c08ee2dfa/IMGUI_DEMO.ipch
build/.vs/MaxWordle/v16/ipch/AutoPCH/872e345b73f67613/IMGUI_IMPL_GLFW.ipch
build/.vs/MaxWordle/v16/ipch/AutoPCH/986ee0bd53920ab/IMGUI_DRAW.ipch
build/.vs/MaxWordle/v16/ipch/AutoPCH/cbbba1f333173f46/IMGUI.ipch
build/.vs/MaxWordle/v16/ipch/AutoPCH/d7c2cdf0ac57450d/MAIN.ipch
build/.vs/MaxWordle/v16/ipch/AutoPCH/e927bf95fb04126c/IMGUI_WIDGETS.ipch
libs/usynergy/README.txt
libs/usynergy/uSynergy.c
libs/usynergy/uSynergy.h
build/Debug/MaxWordle.ilk
build/Debug/MaxWordle.pdb
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.21.3/CMakeCCompiler.cmake
build/CMakeFiles/3.21.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.21.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.21.3/CMakeSystem.cmake
build/CMakeFiles/3.21.3/VCTargetsPath.txt
build/CMakeFiles/3.21.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.21.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.21.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.21.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.21.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.21.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.21.3/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.21.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/43ff3c89e63f6c7eb9f1654986e06239/generate.stamp.rule
